.header 
  &__wrap 
    max-width: 1400px
    min-height: 219px
    position: relative
    margin: 0 auto
    padding-top: 35px;
    background: url('../img/header/header-bg.jpg') center no-repeat;
    background-size: cover
  &-logo
    display: flex
    flex-direction: column
    margin-left: 10px
    margin-top: 5px
    margin-right: 108px
    &__link
      margin-bottom: 9px
    &__description
      max-width: 185px
      color: $text-color2
      +medium
      font-size: 12px
      line-height: 17.46px
  &-top
    display: flex
    justify-content: flex-start
    &__menu
      margin-right: 350px
      position: relative
    &__links
      display: none
      flex-direction: column
      justify-content: space-between
      position: absolute
      top: 27px
      left: 0
      // right: 0
      width: 289px
      height: 319px
      box-shadow: 0 7px 24px rgba(30, 42, 62, 0.15)
      border-radius: 4px
      border: 1px solid #edeef3
      background-color: #ffffff
      z-index: 1
    &__link
      display: block
      width: 100%
      height: 54px
      padding-left: 30px
      cursor: pointer
      position: relative
      font-size: 14px
      line-height: 52px
      color: #747785
      &:hover
        background-color: #edeef3
      &::after
        content: ''
        position: absolute
        bottom: 0
        right: 0
        width: 258px
        height: 1px
        background-color: #edeef3
      &:last-child
        &::after
          display: none
    &__icon
      display: inline-block
      width: 14px
      height: 10px
      position: relative
      cursor: pointer
      span 
        display: block
        position: absolute
        height: 2px
        width: 100%
        background: $light-color
        border-radius: 9px
        opacity: 1
        left: 0
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1)
          top: 0
        &:nth-child(2), &:nth-child(3)
          top: 4px
        &:nth-child(4)
          top: 8px
    &__right 
      max-width: 897px
    &__list
      &_open
        .header-top__links
          display: flex
        /* Преобразуется в крестик при нажатии на меню */
        .header-top__icon
          span
            &:nth-child(1)
              top: 18px
              width: 0%
              left: 50%
            &:nth-child(2)
              transform: rotate(45deg)
            &:nth-child(3)
              transform: rotate(-45deg)
            &:nth-child(4)
              top: 18px
              width: 0%
              left: 50%
    &__nav
      display: flex
      justify-content: space-between
      margin-bottom: 27px
      margin-top: -4px
    &__item
      display: flex
      align-items: center
      &:nth-child(1) 
        margin-right: 9px
      &s
        display: flex
        justify-content: space-between
        align-items: center
        width: 520px
        margin-right: 11px
      &-link
        font-size: 12px
        color: $light-color
        +medium
        line-height: 18px
        letter-spacing: 0.24px
        position: relative
        display: flex
        align-items: center
        &_1
          &::before
            content: ''
            width: 18px
            height: 19px
            background: url('../img/header/bell.png') center no-repeat
            margin-right: 11px
        &_2 
          &::before
            content: ''
            width: 10px
            height: 10px
            background: url('../img/header/rating.png') center no-repeat
            margin-right: 11px
    &__search
      position: relative
      &-text
        width: 897px
        height: 55px
        padding: 15px
        padding-left: 20px
        border-radius: 4px
        border: 1px solid #edeef3
        background-color: $light-color
        font-size: 12px
        &::-webkit-input-placeholder
          color: transparent
          text-indent: -9999px
          background-image: url("../img/header/magnifier.png")
          background-position: 0 0 
          background-repeat: no-repeat
        &::-moz-placeholder
          color: transparent
          text-indent: -9999px
          background-image: url("../img/header/magnifier.png")
          background-position: 15px 19px 
          background-repeat: no-repeat
        &:-moz-placeholder
          color: transparent
          text-indent: -9999px
          background-image: url("../img/header/magnifier.png")
          background-position: 15px 19px  
          background-repeat: no-repeat
        &:-ms-input-placeholder
          color: transparent
          text-indent: -9999px
          background-image: url("../img/header/magnifier.png")
          background-position: 15px 19px 
          background-repeat: no-repeat
        &::-ms-input-placeholder
          color: transparent
          text-indent: -9999px
          background-image: url("../img/header/magnifier.png")
          background-position: 15px 19px 
          background-repeat: no-repeat
        &:focus::-webkit-input-placeholder
          background: none
        &:focus::-moz-placeholder
          background: none
        &:focus:-moz-placeholder
          background: none
        &:focus:-ms-input-placeholder
          background: none
        &:focus::-ms-input-placeholder
          background: none
      &-btn
        position: absolute
        top: 50%
        right: 15px
        border: none
        background-color: transparent
        color: #1359fc
        +semibold
        font-size: 12px
        line-height: 25px
        text-transform: uppercase
        letter-spacing: 0.72px
        transform: translateY(-50%)
        cursor: pointer
  &-bottom
    display: flex
    justify-content: space-around
    align-items: center
    position: absolute
    bottom: -52px
    width: 1200px
    height: 100px
    box-shadow: 0 2px 1px rgba(222, 225, 227, 0.29), 0 -2px 18px rgba(222, 225, 227, 0.29)
    border-radius: 5px
    border: 1px solid #edeef3
    background-color: $light-color
    &__item
      position: relative
      &::after
        content: ''
        position: absolute
        top: 0
        width: 1px
        height: 100px
        background-color: #edeef3
      &:nth-child(5)::after 
        display: none
    &__link
      display: inline-block
      width: 239px
      height: 100px
    &__block
      display: flex
      align-items: flex-start
      justify-content: flex-start
      padding-top: 28px
      padding-left: 40px
    &__image
      margin-right: 20px
    &__text
      display: flex
      flex-direction: column
      &-name 
        margin-bottom: 6px
        color: $text-color
        font-size: 14px
        +medium
      &-count
        color: #8995a1
        font-size: 11px
        font-weight: 400
        text-align: left
        letter-spacing: 0.31px
        +medium
        &::before
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin-right: 10px;
        &_1:before
          background-color: #04b5ff
        &_2:before
          background-color: #f7ac0c
        &_3:before
          background-color: #00bf51
        &_4:before
          background-color: #ff5f27
        &_5:before
          background-color: #9976ff

@media (max-width: 1280px) 
  .header
    &-logo
      margin-left: 30px
    &-top
      &__icon
        width: 20px
        height: 15px
        span
          height: 3px
          &:nth-child(1)
            top: 0
          &:nth-child(2), &:nth-child(3)
            top: 6px
          &:nth-child(4)
            top: 12px
      &__right
        max-width: 643px
      &__item
        &:nth-child(1)
          display: none
      &__search
        &-text
          width: 100%
    &-bottom
      width: 1001px
      &__item 
        &:nth-child(4)
          .header-bottom__block
            padding-left: 20px
      &__link
        width: 200px

@media (max-width: 1023px)
  .header
    .container
      width: 768px
    &__wrap
      min-height: 200px
      padding-top: 25px
      background: none
      background-color:#1e2a3e
    &-logo
      margin-left: 10px
      margin-right: 40px
      margin-top: 0
    &-top
      &__right
        width: 520px
      &__menu
        margin-right: 220px
      &__items
        max-width: 254px
        margin-right: 0
      &__link
        min-height: 28px
        font-size: 12px
        &::after
          width: 223px
        &s
          width: 249px;
          height: 268px;
    &-bottom
      bottom: -15px
      width: 768px
      height: 69px
      &__item
        &:after
          height: 69px
        &:nth-child(1)
          .header-bottom__text
            &::before
              content: ''
              background: url('../img/header/image-1.png') center no-repeat
              background-size: contain
        &:nth-child(2)
          .header-bottom__text
            &::before
              content: ''
              background: url('../img/header/image-2.png') center no-repeat
              background-size: contain
        &:nth-child(3)
          .header-bottom__text
            &::before
              content: ''
              background: url('../img/header/image-3.png') center no-repeat
              background-size: contain
        &:nth-child(4)
          .header-bottom__text
            &::before
              content: ''
              position: relative
              top: -4px
              background: url('../img/header/image-4.png') center no-repeat
              background-size: contain
        &:nth-child(5)
          .header-bottom__text
            &::before
              content: ''
              background: url('../img/header/image-5.png') center no-repeat
              background-size: contain
      &__link
        width: 153px
        height: 69px
      &__block
        padding-top: 20px
        padding-left: 23px
      &__text
        flex-direction: row
        align-items: center
        &::before
          content: ''
          width: 27px
          height: 27px
          margin-right: 13px
        &-count
          display: none
      &__image
        display: none

@media (max-width: 767px)
  .header
    .container
      width: 540px
    &-logo
      &__description
        display: none
    &-top
      justify-content: space-between
      &__links
        left: auto
        right: 0
      &__right
        max-width: 20px
      &__nav
        margin-top: 0
      &__items
        display: none
      &__search
        display: none